<div class="footer">
	<div class="row">
		<div class="col">
			<p class="text-left">
				AI Styleguide Generator 
			</p>
			<p>
				By Daniel Diaz, Stijn Driessens, Anna Maschek
			</p>
		</div>
		<div class="col">
			<p>
				FH Oberösterreich - Campus Hagenberg - 2023
			</p>
			<p>
				Interactive Media
			</p>
		</div>
	</div>
</div>
