<div id="navigation">
	<div class="logowrapper">
		<div class="inner">
				<a href="/kiStyleguide"><img class="logo" src="./application/assets/images/logo.png" alt="Logo"></a>
		</div>
	</div>
</div>
