<script src="/templates/page/kistyleguide/ki_style_guide/ins_inspirational_images/insInspirationalImages.js"></script>

<div class="slidesHeader">
    <h1 class="sliderTitle">{{ i18n.kiStyleguide.tabs.inspirationalImages }}</h1>
    <span class="sliderSubtitle">{{ i18n.kiStyleguide.inspirationalImages.explanation }}</span>
</div>
<div class="collage">
    <div class="ParallelImages">
        <div class="imageContainer" data-description="Conveys a sense of professionalism, elegance, and modernity">
            <img src="../../../../../application/assets/images/insp-futuristic.jpg" alt="Futuristic and technological">
        </div>
        <div class="imageContainer" data-description="Evokes excitement, creativity, and a bold approach">
            <img src="../../../../../application/assets/images/insp-abstract2.jpg" alt="Abstract and conceptual">
        </div>
    </div>
    <div class="imageContainer" data-description="Conveys a sense of harmony, growth, and sustainability">
        <img src="../../../../../application/assets/images/insp-organic.jpg" alt="Nature-inspired and organic">
    </div>
    <div class="imageContainer" data-description="Conveys simplicity, elegance, and modernity">
        <img src="../../../../../application/assets/images/insp-minimalistic.jpg" alt="Minimalistic and clean design">
    </div>
    <div class="imageContainer" data-description="Promotes a sense of tranquility, peace, and mindfulness">
        <img src="../../../../../application/assets/images/insp-zen.jpg" alt="Calm and serene">
    </div>
    <div class="imageContainer" data-description="Full of vibrant colors, movement, and energy">
        <img src="../../../../../application/assets/images/insp-energetic.jpg" alt="Vibrant and energetic">
    </div>
    <div class="ParallelImages">
        <div class="imageContainer" data-description="Evokes a sense of nostalgia, heritage, and authenticity">
            <img src="../../../../../application/assets/images/insp-vintage.jpg" alt="Vintage and nostalgic">
        </div>
        <div class="imageContainer" data-description="Captures the raw and dynamic energy of city life">
            <img src="../../../../../application/assets/images/insp-urban.jpg" alt="Urban and edgy">
        </div>
    </div>
</div>

<input type="hidden" id="inspirationalImageDescription" name="inspirationalImageDescription">